.category-btn {
    background: white;
    border: none;
    width: 50%;
    margin: auto;
}

.center-btn{
    display: flex;
    justify-items: 'space-between';
}

.round-btn{
    border-radius: 50%;
}

img {
    height: 60px;
    width: 60px;
}