.category-btn {
    width: 40%;
    height: 40%;
    display: flex;
    justify-content: space-between;
    margin: 5%;
}

.error{
    border: 1px solid#4dc583;
}

.error-msg{
    font-size: small;
    padding-top: 2px;
    color: #4dc583;
}

.modal-title {
    display: flex; 
    justify-content: space-between; 
    min-width: 100%;
}
.center-img{
    margin-top: 10%;
}
.modal-footer{
    justify-content: space-between;
}

img {
    height: 60px;
    width: 60px;
}

img:hover{
    filter: brightness(0) invert(1);
}

img::select{
    filter: brightness(0) invert(1);
}