.category-btn {
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin: 5%;
    padding: 2%;
    border: 1px solid #333333;
    border-radius: 5px;
    cursor: pointer;
}

.error{
    border: 1px solid#4dc583;
}

.error-msg{
    font-size: small;
    padding-top: 2px;
    color: #4dc583;
}

.modal-title {
    display: flex; 
    justify-content: space-between; 
    min-width: 100%;
}
.center-img{
    margin-top: auto;
    text-align: center;
}
.modal-footer{
    justify-content: space-between;
}

img {
    height: 80px;
    width: 80px;
}
