body, h2, h5, h6 {
    color: #30507d;
}
h2, h5, h6{
    font-weight: bold;
}

.Divider {
    border: .5px solid #c1c1c5;
    margin-bottom: 16px;
    background: #c1c1c5;
}

.Card {
    box-shadow: none;
}


.recharts-legend-item { 
    font-size: 0.75rem; 
    margin: auto;
}

