body, h2, h5, h4, h6 {
    color: #333333;
    font-family: 'Roboto', sans-serif;
}
body{
    background: #f4f4f4;
}

h2, h5, h4, h6{
    font-weight: 700;
}

.Divider {
    border: .5px solid #c1c1c5;
    margin-bottom: 16px;
    background: #c1c1c5;
}

.recharts-legend-item { 
    font-size: 0.75rem; 
    margin: auto;
}


/* 
#c8e3d9ff green
#9fd2beff dark green
*/