body, h2, h5, h4, h6 {
    color: #333333;
    font-family: 'Roboto', sans-serif;
}
body{
    background: #f4f4f4;
    font-weight: 300;
}
p{
    margin: 0;
}
h1, h2, h3, h4, h5, h6{
    font-weight: 700;
}

.Divider {
    border: .5px solid #c1c1c5;
    margin-bottom: 16px;
    background: #c1c1c5;
}

.recharts-legend-item { 
    font-size: 0.75rem; 
    margin: auto;
}

.button{
    background: #8BA1DB;
    color: #333333;
    font-weight: 600;
    font-size: medium;
    border: none;
}


/* 
#c8e3d9ff green
#9fd2beff dark green
*/